body{
    margin: 0;
    padding: 0;
    background-color: #323540;
}
.game-background{
    display: flex;
    flex-wrap: wrap;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    /* background-color: darkgray; */
    height: 610px;
    width: 610px;
    box-shadow: 0px 13px 38px 0px rgba(0,0,0,0.75);
}

.img-clip-cover{
    background-image: url('images/img_new_2.jpg');
    background-image: url('images/doggy_face.gif');
    background-repeat: no-repeat;
    border-radius: 4px;
    border: solid 2px gray;
    transition: all 0.3s ease;
}

.area-01{
    /* position: relative; */
    top: 0;
    left: 0;
    height: 300px;
    width: 300px;
    background-position: 0px 0px;
}
.area-02{
    top: 0;
    margin-left: 2px;
    height: 300px;
    width: 300px;
    background-position: -300px 0px;
}
.area-03{
    margin-top: 2px;
    left: 0;
    height: 300px;
    width: 300px;
    background-position: 0px -300px;
}
.area-04{
    margin-top: 2px;
    margin-left: 2px;
    height: 300px;
    width: 300px;
    background-position: -300px -300px;
}

.img-clip-cover:hover {
    border: solid 2px #ffb74d;
    filter: brightness(1.2);
    box-shadow: 0px 13px 38px 0px rgba(0,0,0,0.75);
}
